<div class="container-fluid">
  <div class="text-center">
    <h1>OOKA Semesterprojekt WS-2020/2021</h1>
    <h2>Simple Tool for optional Equipment for Diesel Engines</h2>
    <br><br><br>
  </div>
  <div class="row">
    <div class="col-md-5">
      <form [formGroup]="equipmentService.form" class="normal-form" (submit)="onSubmit()">
        <input type="hidden" formControlName="id">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Oil Systems</mat-label>
            <mat-select (selectionChange)="checkOilValue($event)" formControlName="oilSystems">
              <mat-option *ngFor="let oil of oilSystems" [value]="oil">
                {{oil}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span>Status: </span>
          <span class="{{oilStatusCss}}">{{oilStatus}}</span><br>

          <mat-form-field appearance="fill">
            <mat-label>Fuel System</mat-label>
            <mat-select (selectionChange)="checkFuelValue($event)" formControlName="fuelSystem">
              <mat-option *ngFor="let fuel of fuelSystems" [value]="fuel">
                {{fuel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span>Status: </span>
          <span class="{{fuelStatusCss}}">{{fuelStatus}}</span><br>

          <mat-form-field appearance="fill">
            <mat-label>Gearbox Options</mat-label>
            <mat-select formControlName="gearboxOptions">
              <mat-option *ngFor="let gearbox of gearboxOptions" [value]="gearbox">
                {{gearbox}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="btnStatusFinal">Send</button>
          <button mat-raised-button color="warn" (click)="onClean()">Cancel</button>
        </div>
      </form>
    </div>
    <div class="col-md-7">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="oil">
          <mat-header-cell *matHeaderCellDef>Oil</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.oilSystem}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fuel">
          <mat-header-cell *matHeaderCellDef>Fuel</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.fuelSystem}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gearbox">
          <mat-header-cell *matHeaderCellDef>Gearbox</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.gearboxOptions}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
