@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notification-success{
  background-color: green;
  color: #fff;
}
.notification-error{
  background-color: red;
  color: white;
}
